.form-group {
    margin: 10px;
    padding: 5px;
}

.inputZip{
    float:left;
}

#addZip{
    float:left;
    margin-left: 5px;
}

.span12{
    border:solid 1px grey;
    height:300px;
    font-family: default sans-serif;
    font-size: 12px;
}

.row{
    max-width: 800px;
}


